<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/home.css" />
</head>

<body>
  
    <div class="header"></div>
    <div class="head mt-3 mb-3">
      <header class="m-2">
        <div class="para">
          <div data-bs-toggle="collapse" data-bs-target="#administration-suggestions"
            aria-controls="administration-suggestions">
            <p class="m-4 h6 text-light">Administration</p>
            <div class="collapse bg-light" id="administration-suggestions" style="position: absolute; z-index: 100">
              <div class="p-3">
                <a href="/vice_chancellor" class="fw-bold underline"> <span>vice-chancellor</span></a>
                <hr />
                <a href="registrar.html" class="fw-bold underline"><span>Registatar</span> </a>
                <hr />
                <a href=" " class="fw-bold underline"><span>Academic council</span> </a>
                <hr />
                <a href=" " class="fw-bold underline"><span>Deans of faculties</span> </a>
                <hr />
              </div>
            </div>
          </div>

          <div data-bs-toggle="collapse" data-bs-target="#institute-suggestions" aria-controls="institute-suggestions">
            <p class="m-4 h6 text-light">Institute</p>
            <div class="collapse bg-light" id="institute-suggestions" style="position: absolute; z-index: 100">
              <div class="m-3 p-3">
                <!-- <p>Affilited institues</p> -->
                <a href="college.html" class="fw-bold">
                  <button class="btn">
                    contact details of institutes
                  </button></a>
              </div>
            </div>
          </div>

          <div data-bs-toggle="collapse" data-bs-target="#calender-suggestions" aria-controls="calender-suggestions">
            <p class="m-4 h6 text-light">Calender</p>
            <div class="collapse bg-light" id="calender-suggestions" style="position: absolute; z-index: 100">
              <div class="m-3 p-3">
                <a href="" class="fw-bold">Academic calender </a>
                <hr />
                <a href="" class="fw-bold">Holidays </a>
                <hr />
                <a href="" class="fw-bold">Restricted holidays </a>
              </div>
            </div>
          </div>

          <div data-bs-toggle="collapse" data-bs-target="#office-suggestions" aria-controls="office-suggestions">
            <p class="m-4 h6 text-light">Office</p>
            <div class="collapse bg-light" id="office-suggestions" style="position: absolute; z-index: 100">
              <div class="m-3 p-3">
                <a href="" class="fw-bold">SU office </a>
              </div>
            </div>
          </div>

          <div data-bs-toggle="collapse" data-bs-target="#about-suggestions" aria-controls="about-suggestions">
            <p class="m-4 h6 text-light">About</p>
            <div class="collapse bg-light" id="about-suggestions" style="position: absolute; z-index: 100">
              <div class="m-3 p-3"></div>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div class="container-fluid">
      <h5 class="container-fluid text-center bg-info fw-bold" style="height: 50px; width:80%;">ANNUAL ACCOUNTS</h5>
      <div class="d-flex container-fluid text-center " style="height: 50px; width:80%;">
       
      <ul class=" container-fluid text-center mt-3" style="height: 50px; width:40%;">
        <li class="link mt-3"><a href="2019-20.pdf" class="underline" target="_blank"> <span> Annual Account 2019-20
            </span></a></li><hr>
        <li class="link mt-3"><a href="2018-19.pdf" class="underline" target="_blank"> <span> Annual Account 2018-19
            </span></a></li><hr>
        <li class="link mt-3"><a href="2017-18.pdf" class="underline" target="_blank"> <span>Annual Account 2017-18
            </span></a></li><hr>
        <li class="link mt-3"><a href="2016-17.pdf" class="underline" target="_blank"> <span> Annual Account 2016-17
            </span></a></li><hr>
      </ul>
      <ul class="links text-center mt-3" style="height: 50px; width:80%;">
        <li class="link mt-3">file size :6.99 mb</li>
        <hr>
        <li class="link mt-3">file size :4.23 mb</li>
        <hr>
        <li class="link mt-3">file size :8.09 mb</li>
        <hr>
        <li class="link mt-3">file size :2.31 mb</li>
        <hr>
      </ul>
      </div>
    </div>
  
</body>

</html>